<!-- flask settings page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon(vectorsmarket15).png') }}" type="image/x-icon">
    <title>Settings</title>
</head>
<body>
    {% block content %}
    <div class="m-7">
        <h1 class="title font-bold inter darkblue text-4xl">Free GPT 4</h1>
        <h2 class="title blue text-2xl">Server settings</h2>
    </div>

    <form class="m-7 mt-10 inter" action="/save" method="post" enctype=multipart/form-data>
        <table class="table-fixed w-full">
            <!-- File input support -->
            <tr>
                <td class="py-1 font-bold inter darkblue text-lg border-b border-slate-800" id="set_0"><b>File input support:</b></td>
                <td class="py-1 font-bold inter darkblue text-lg">
                {% if data['file_input'] %}
                    <input type="radio" id="off_rad_0" name="file_input" value="false" hidden oninput="turnOff('on_0', 'off_0', 'set_0')">
                    <label for="off_rad_0" id="off_0" class="label_gray"><b>OFF</b></label>
                    <p class="inline-block mx-1"> - </p>
                    <input type="radio" id="on_rad_0" name="file_input" value="true" hidden oninput="turnOn('on_0', 'off_0', 'set_0')" checked>
                    <label for="on_rad_0" id="on_0" class="label_green"><b>ON</b></label>
                {% else %}
                    <input type="radio" id="off_rad_0" name="file_input" value="false" hidden oninput="turnOff('on_0', 'off_0', 'set_0')" checked>
                    <label for="off_rad_0" id="off_0" class="label_red"><b>OFF</b></label>
                    <p class="inline-block mx-1"> - </p>
                    <input type="radio" id="on_rad_0" name="file_input" value="true" hidden oninput="turnOn('on_0', 'off_0', 'set_0')">
                    <label for="on_rad_0" id="on_0" class="label_gray"><b>ON</b></label>
                {% endif %}
                </td>
            </tr>
            <!-- Show sources -->
            <tr>
                <td class="py-1 font-bold inter darkblue text-lg border-b border-slate-800" id="set_1"><b>Show sources:</b></td>
                <td class="py-1 font-bold inter darkblue text-lg">
                {% if data['remove_sources'] %}
                <input type="radio" id="off_rad_1" name="remove_sources" value="true" hidden oninput="turnOff('on_1', 'off_1', 'set_1')" checked>
                    <label for="off_rad_1" id="off_1" class="label_red"><b>OFF</b></label>
                    <p class="inline-block mx-1"> - </p>
                    <input type="radio" id="on_rad_1" name="remove_sources" value="false" hidden oninput="turnOn('on_1', 'off_1', 'set_1')">
                    <label for="on_rad_1" id="on_1" class="label_gray"><b>ON</b></label>
                {% else %}
                    <input type="radio" id="off_rad_1" name="remove_sources" value="true" hidden oninput="turnOff('on_1', 'off_1', 'set_1')">
                    <label for="off_rad_1" id="off_1" class="label_gray"><b>OFF</b></label>
                    <p class="inline-block mx-1"> - </p>
                    <input type="radio" id="on_rad_1" name="remove_sources" value="false" hidden oninput="turnOn('on_1', 'off_1', 'set_1')" checked>
                    <label for="on_rad_1" id="on_1" class="label_green"><b>ON</b></label>
                {% endif %}
                </td>
            </tr>
            <!-- Message history -->
            <tr>
                <td class="py-1 font-bold inter darkblue text-lg border-b border-slate-800" id="set_2"><b>Message history:</b></td>
                <td class="py-1 font-bold inter darkblue text-lg">
                {% if data['message_history'] %}
                <input type="radio" id="off_rad_2" name="message_history" value="false" hidden oninput="turnOff('on_2', 'off_2', 'set_2')">
                    <label for="off_rad_2" id="off_2" class="label_gray"><b>OFF</b></label>
                    <p class="inline-block mx-1"> - </p>
                    <input type="radio" id="on_rad_2" name="message_history" value="true" hidden oninput="turnOn('on_2', 'off_2', 'set_2')" checked>
                    <label for="on_rad_2" id="on_2" class="label_green"><b>ON</b></label>
                {% else %}
                    <input type="radio" id="off_rad_2" name="message_history" value="false" hidden oninput="turnOff('on_2', 'off_2', 'set_2')" checked>
                    <label for="off_rad_2" id="off_2" class="label_red"><b>OFF</b></label>
                    <p class="inline-block mx-1"> - </p>
                    <input type="radio" id="on_rad_2" name="message_history" value="true" hidden oninput="turnOn('on_2', 'off_2', 'set_2')">
                    <label for="on_rad_2" id="on_2" class="label_gray"><b>ON</b></label>
                {% endif %}
                </td>
            </tr>
            <!-- Private Mode -->
            <tr>
                <td class="py-1 font-bold inter darkblue text-lg border-b border-slate-800" id="set_3">
                    <b>Private Mode:</b>
                    <br>
                    <p id="warning_0" class="text-sm label_darkorange" hidden> <b>Warning:</b> your current token will be deleted </p>
                    <input name="token" id="token" value="{{ data['token'] }}" hidden/>
                    {% if data['token']|length > 0 %}
                    <span id="warning_1" class="text-sm blue inline-block">
                    {% else %}
                    <span id="warning_1" class="text-sm blue inline-block hidden" hidden>
                    {% endif %}
                        <b>Your Token: </b> <i id="token_text" onclick="copyTextToClipboardFromName('token');">{{ data['token'] }}</i>
                        <img id="copy_icon" src="{{ url_for('static', filename='img/copy(Gregor_Cresnar).png') }}" width="16" class="inline-block" alt="Copy" onclick="copy('token', this.id, 'Copied!');"/>
                    </span>
                </td>
                <td class="py-1 font-bold inter darkblue text-lg">
                {% if data['token'] %}
                <input type="radio" id="off_rad_3" name="private_mode" value="false" hidden oninput="turnOff('on_3', 'off_3', 'set_3')" checked>
                    <label for="off_rad_3" id="off_3" class="label_red"><b>OFF</b></label>
                    <p class="inline-block mx-1"> - </p>
                    <input type="radio" id="on_rad_3" name="private_mode" value="true" hidden oninput="turnOn('on_3', 'off_3', 'set_3')">
                    <label for="on_rad_3" id="on_3" class="label_gray"><b>ON</b></label>
                {% else %}
                    <input type="radio" id="off_rad_3" name="private_mode" value="false" hidden oninput="turnOff('on_3', 'off_3', 'set_3')">
                    <label for="off_rad_3" id="off_3" class="label_gray"><b>OFF</b></label>
                    <p class="inline-block mx-1"> - </p>
                    <input type="radio" id="on_rad_3" name="private_mode" value="true" hidden oninput="turnOn('on_3', 'off_3', 'set_3')" checked>
                    <label for="on_rad_3" id="on_3" class="label_green"><b>ON</b></label>
                {% endif %}
                </td>
            </tr>
        </table>

        <div class="m-7 mt-10">
            <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded">Save Settings</button>
        </div>
    </form>
    
    <script>
        function turnOn(onId, offId, setId) {
            document.getElementById(onId).classList.replace('label_gray', 'label_green');
            document.getElementById(offId).classList.replace('label_red', 'label_gray');
            document.getElementById(setId).classList.replace('border-slate-800', 'border-green-600');
        }

        function turnOff(onId, offId, setId) {
            document.getElementById(onId).classList.replace('label_green', 'label_gray');
            document.getElementById(offId).classList.replace('label_gray', 'label_red');
            document.getElementById(setId).classList.replace('border-green-600', 'border-slate-800');
        }

        function copyTextToClipboardFromName(elementId) {
            const textToCopy = document.getElementById(elementId).value;
            navigator.clipboard.writeText(textToCopy).then(() => {
                alert('Copied to clipboard!');
            });
        }

        function copy(elementId, iconId, message) {
            copyTextToClipboardFromName(elementId);
            document.getElementById(iconId).alt = message;
        }
    </script>
</body>
</html> 
